<div class="container-fluid" >
    <h3>Buscador</h3>
    <form >
        <div class="form-row">
            <div class="col-6">
        <input class="form-control mr-sm-2" name="filterVideo" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="filterVideo">
        
            </div>
        </div>
    </form>
    <div class="row" >
        <div class="col-md-12 col-lg-6 col-xl-4" *ngFor="let video of videos | filter: filterVideo" >
              <div class="card bg-dark"  *ngIf="video.categoria == categoriaVideo.categoria"  >
                  <a routerLink="/video_detalle/{{video.id}}">
                  <img src="{{video.poster}}" class="card-img" alt="imagen de muestra">
                  <div class="card-img-overlay">
                    <h3 class="card-title">{{video.name}}</h3>
                  </div>
                </a>
            </div>
      </div>
  </div>
</div>
