<!--The content below is only a placeholder and can be replaced.-->
<!--<div class="cover-container d-flex w-100 h-100 mx-auto flex-column">-->
    <header class="masthead mb-auto">
      <div class="inner ">
        
        <nav class="nav nav-masthead navbar navbar-expand-lg ">
          <a class="navbar-brand" routerLink="/home" ><img id="logo" alt="logo" src="/assets/logo/logo.png"></a>
          <a  routerLink="/categorias" > Categorias </a>
          <a  routerLink="/editor"> | Editor</a>
          <a  routerLink="/buscador" > | Buscador</a>
          
        </nav>
      </div>
    </header>
    <router-outlet></router-outlet>
   
   
  <!--</div>-->



