
<div class="container-fluid" >
      <div class="row">
         <div class="col-md-12 col-lg-6 col-xl-4" *ngFor="let categoria of categorias" >
            <a routerLink="/categoria_detalle/{{categoria.name}}">
            <div class="card bg-dark" >
                <img src="/assets/data/{{categoria.imagen}}" class="card-img" alt="imagen de muestra">
                <div class="card-img-overlay">
                  <h3 class="card-title">{{categoria.name}}</h3>
                  </div>
            </div>
          </a>
        </div>
      </div>
</div>
