
 <div class="detalle_background">
      <div *ngIf="videoSeleccionado">
            <video width="100%" controls autoplay >
              <source src="/assets/data/{{videoSeleccionado.src}}" type="video/mp4">
              Your browser does not support HTML5 video.
            </video>
      </div>
      <div class="container-fluid">
            <div class="row justify-content-md-center">
              <div class="col-6 ">
              <h3>{{videoSeleccionado.name}}</h3>
              <p>{{videoSeleccionado.descripcion}}</p>
            </div>
            </div>
      </div>
      <div class="container-fluid" >
          <div class="row" >
              <div class="col-md-12 col-lg-6 col-xl-4" *ngFor="let video of videos" >
                    <div class="card bg-dark"  *ngIf="video.categoria == videoSeleccionado.categoria">
                        <a routerLink="/video_detalle/{{video.id}}">
                        <img src="/assets/data/{{video.poster}}" class="card-img" alt="imagen de muestra">
                        <div class="card-img-overlay">
                          <h3 class="card-title">{{video.name}}</h3>
                        </div>
                      </a>
                  </div>
            </div>
        </div>
      </div>
</div>
